<div class="flex flex-col lg:flex-row items-start justify-between py-40 pl-6 md:pl-18 relative z-40">
    <!-- Left Section: Text Content -->
    <div class="flex flex-col w-full lg:w-2/5 max-w-lg">
        <h2 class="text-4xl md:text-4xl mb-6 mt-8">Carrières</h2>
        <p class="mb-10 text-base leading-5 w-[90%]">
            Nous sommes une structure à taille humaine fondée sur des valeurs universelles, où nos collaborateurs
            représentent notre atout le plus précieux. Convaincus que les idées brillantes émanent de personnes
            talentueuses et passionnées, nous offrons à ces talents des opportunités de croissance et de développement à
            chaque étape de leur carrière.
        </p>

        <!-- Button -->
        <div class="relative w-full">
            <div class="group inline-block cursor-pointer">
                <a class="inline-flex items-center relative transition duration-300">
                    <span class="font-semibold text-sm uppercase tracking-tighter">Rejoindre notre équipe</span>
                    <i
                        class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                    <span
                        class="absolute left-0 -bottom-0.5 h-[1px] w-full bg-black transition-all duration-300"></span>
                </a>
            </div>
        </div>


    </div>

    <!-- Right Section: Image -->
    <div class="w-full lg:w-3/5">
        <img src="man.jpg" alt="Dummy Image" class="w-full md:max-w-[890px]">
    </div>
</div>