<section class="relative w-full h-fit bg-[#003574]">

    <!-- Background Image Section -->
    <div class="sticky top-0 w-full lg:h-screen z-0">
        <img src="/sky.jpg" alt="Background Image"
            class="mountainImg w-full h-96 md:h-full scale-[1] lg:scale-[0.93]" />

        <!-- Texts over Image -->
        <div>
            <p
                class="mountainText opacity-100 lg:opacity-0 absolute top-8 md:top-20 left-0 text-start md:text-start text-4xl w-full md:text-5xl lg:text-6xl xl:text-8xl text-[#003574] pl-4 md:pl-6 lg:pl-14 xl:pl-24">
                Accounting Clarity
            </p>

            <p
                class="lg:block hidden mountainText opacity-0 absolute bottom-60 md:bottom-20 left-[50%] md:left-1/2 -translate-x-1/2  md:translate-x-0 text-start text-2xl xl:text-4xl w-full md:w-[40%] text-[#003574] font-medium">
                Tailored for small to mid-size businesses and dynamic startups.
            </p>
            <p
                class="lg:hidden block mountainText opacity-100 absolute bottom-0 md:bottom-6 left-4 right-[28%] md:right-0 md:translate-x-0 text-start items-start text-xl lg:text-4xl w-54 sm:w-[70%] text-[#003574] font-medium">
                Tailored for small to mid-size businesses and dynamic startups.
            </p>
        </div>
    </div>

    <!-- White Section -->
    <div class="relative z-10 -mt-screen">
        <section class="w-full bg-white py-8 md:py-24 px-4 md:px-18">
            <div class="w-full mx-auto flex flex-col md:flex-row items-start gap-10 md:gap-16">
                <app-services></app-services>
            </div>
        </section>
    </div>

</section>