<footer class="bg-white text-gray-900 py-24 px-5 lg:px-18 border-t mt-14">
  <div class="w-full mx-auto flex flex-col lg:flex-row justify-between items-start gap-12">

    <!-- Left: Big Logo -->
    <div class="w-full lg:w-1/2 flex  justify-start">
      <img src="r-logo-Photoroom.png" alt="Logo"
        class="w-[200px] sm:w-[250px] md:w-[300px] lg:w-[400px] xl:w-[550px] h-auto">
    </div>

    <!-- Right: Links + Button -->
    <div class="w-full lg:w-1/2 flex flex-col">

      <!-- Links + Button Row -->
      <div class="flex flex-col md:flex-row justify-between items-start md:items-start">

        <!-- Links Grid -->
        <div class="grid grid-cols-2 lg:grid-cols-3 space-x-10 space-y-6 text-md uppercase lg:text-sm md:mt-6">
          <div class="leading-6">
            <a href="#" class="block">Home</a>
            <a href="#" class="block">Who we are</a>
            <a href="#" class="block">Services</a>
            <a href="#" class="block">Learn</a>
          </div>
          <div class="leading-6">
            <a href="#" class="block">Contact</a>
            <a href="#" class="block">Follow us</a>
            <a href="#" class="block">Privacy Policy</a>
            <a href="#" class="block">Terms and Conditions</a>
          </div>
          <div class="self-start">

            <button
              class="border border-black rounded-full px-3 py-1 text-sm md:text-md uppercase text-black whitespace-nowrap hover:bg-black hover:text-white transition cursor-pointer">
              Client Portal
            </button>
          </div>
        </div>

      </div>

      <!-- Bottom text -->
      <div class="text-xs text-gray-500/70 space-y-2 w-full lg:w-[70%] mt-10">
        <p>Finenti Corporation is not a registered CPA firm and does not provide audit or attest services. Our
          affiliated company Kass Accounting Services, Inc is a registered CPA firm.</p>
        <p class="mt-5">© 2025 Finenti. All rights reserved. <br /> Design <a href="#"
            class="underline hover:text-gray-700">RVLV</a>.</p>
      </div>

    </div>

  </div>
</footer>