<!-- Navbar -->
<div class="bg-[#003574]">
  <nav class="fixed top-0 left-0 w-full z-50 transition-transform duration-300" [style]="navBg">
    <div class="flex justify-between items-center px-4 md:px-6 py-6 container mx-auto">

      <div class="lg:w-44 h-0.5 hidden md:block"></div>
      <!-- <img src="r-logo-Photoroom.png" alt="Hero Logo" class="w-52 hidden md:block" routerLink="/"> -->


      <!-- Mobile Menu Button -->
      <button class="lg:hidden text-white text-3xl focus:outline-none" (click)="toggleMenu()">
        ☰
      </button>

      <!-- Desktop Links -->
      <div
        class="hidden lg:flex flex-1 justify-center space-x-4 lg:space-x-12 text-sm sm:text-md lg:text-md xl:text-lg uppercase text-white">
        <a href="#">Who We Are</a>
        <a href="#">Services</a>
        <a href="#">Learn</a>
        <a href="#">Contact</a>
      </div>

      <!-- Client Portal -->
      <button
        class="uppercase border border-white rounded-full px-4 py-[2px] text-sm md:text-md text-white whitespace-nowrap hover:bg-white hover:text-[#003574] transition cursor-pointer">
        Client Portal
      </button>
    </div>

    <!-- Mobile Menu Links -->
    <div *ngIf="menuOpen" class="lg:hidden px-6 bg-[#003574] pb-4 text-white text-sm uppercase space-y-2 relative z-50">
      <a href="#" class="block">Who We Are</a>
      <a href="#" class="block">Services</a>
      <a href="#" class="block">Learn</a>
      <a href="#" class="block">Contact</a>
    </div>
  </nav>
  <!-- Hero Section -->
  <section
    class="min-h-[400px] bg-[#003574] container mx-auto text-white relative flex flex-col lg:flex-row items-center justify-between px-4 md:px-6 pt-32 md:pt-40">

    <!-- Left Content -->
    <div class="logoWrapper w-full lg:w-[65%] flex justify-center items-center md:justify-start relative z-40 md:z-50">
      <div class="logoInner relative w-[900px]  lg:ml-4">
        <img src="r-logo-Photoroom.png" alt="Hero Logo" class="heroLogo w-full" routerLink="/">
      </div>
    </div>

    <!-- Right Content -->
    <div class="w-full lg:w-[35%] text-center md:text-left md:pl-12 md:border-l border-white/30">

      <ul
        class="space-y-1 text-base sm:text-md md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl mb-7 font-normal leading-4 xl:leading-6 2xl:leading-8">
        <li>Accounting</li>
        <li>Fractional CFO</li>
        <li>Tax</li>
      </ul>

      <p
        class="md:w-[94%] text-sm sm:text-base font-normal md:text-md lg:text-lg xl:text-xl xl:leading-4 2xl:leading-7">
        Accounting, Fractional CFO and Tax services that deliver clarity on your business performance, with the
        support of a trusted partner to guide you in the right direction.
      </p>

      <div class="hidden sm:flex justify-center md:justify-end md:-mt-10">
        <i class="ri-arrow-down-line text-4xl"></i>
      </div>

    </div>

  </section>

</div>