<section class="relative w-full h-fit bg-white lg:px-10">

    <div class="sticky top-0 h-[400px] lg:h-screen w-full z-0">
        <img src="cards.jpg" alt="Background Image" class="w-full h-full" />
    </div>

    <div class="relative z-10 -mt-screen">

        <section class="w-full bg-white py-8 lg:py-12 md:pt-12 md:pb-18 px-4">
            <div class="w-full mx-auto flex flex-col md:flex-row items-start gap-10 md:gap-16">

                <!-- Left Side: 30% width -->
                <h2 class="w-full md:w-[40%] text-3xl md:text-4xl xl:text-[40px] font-normal">
                    Skykapital Family Office <br> Partners
                </h2>

                <!-- Right Side: 70% width -->
                <div class="w-full md:w-[60%]">
                    <h3 class="text-3xl lg:4xl mb-4">High Net Worth</h3>
                    <p class="text-black text-base 2xl:w-[700px] mb-5 leading-5">
                        Nous offrons à nos clients HNW des services innovants dans diverses classes d'actifs, conçus
                        pour répondre à leurs besoins patrimoniaux à chaque étape, avec un accent particulier sur la
                        transmission intergénérationnelle.
                    </p>
                    <!-- Button -->
                    <div class="group inline-block cursor-pointer">
                        <a class="inline-flex items-center relative transition duration-300">
                            <span class="font-semibold text-sm tracking-tighter">EN SUVIOR PLUS</span>
                            <i
                                class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                            <span
                                class="absolute left-0 -bottom-0.5 h-[1px] w-full bg-black transition-all duration-300"></span>
                        </a>
                    </div>

                </div>

            </div>
        </section>


        <!-- 2 SECTION -->

        <section class="w-full bg-white lg:py-12 md:pt-12 md:pb-20 relative">
            <div class="sticky top-0 h-[400px] lg:h-[80vh] w-full z-0 bg-white">
                <img src="billBoard.jpg" alt="Background Image" class="w-full h-full object-cover" />
            </div>

            <div
                class="w-full mx-auto flex flex-col md:flex-row items-start px-4 bg-white relative z-20 py-8 gap-10 md:gap-16">

                <h2 class="w-full md:w-[40%] text-3xl md:text-4xl xl:text-[40px] font-normal">
                    Skykapital Start-up <br> Partners
                </h2>

                <div class="w-full md:w-[60%]">
                    <h3 class="text-3xl lg:text-4xl font-normal mb-4">Accompagnement et Mentorat</h3>
                    <p class="2xl:w-[680px] text-base  leading-5 mb-10">
                        Nous accompagnons les start-ups à chaque étape de leur développement, en leur fournissant des
                        conseils stratégiques et un accès à un large réseau de partenaires et d'investisseurs. Notre
                        expertise couvre la levée de fonds, l'évaluation d'entreprise, la stratégie de croissance, la
                        restructuration et la gestion des risques financiers.
                    </p>

                    <!-- Button -->
                    <div class="group inline-block cursor-pointer">
                        <a class="inline-flex items-center relative transition duration-300">
                            <span class="font-semibold text-sm tracking-tighter">EN SUVIOR PLUS</span>
                            <i
                                class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                            <span
                                class="absolute left-0 -bottom-0.5 h-[1px] w-full bg-black transition-all duration-300"></span>
                        </a>
                    </div>

                </div>

            </div>
        </section>

    </div>

</section>