<div class="flex flex-col items-center gap-10 py-20 px-4 md:px-12 min-h-[400px] relative z-30">

    <div class="w-full flex flex-col gap-12 items-start">

        <h2 class="text-3xl md:text-5xl mb-8 text-start w-[40%]">
            Dernières publications sectorielles
        </h2>

        <div class="flex flex-col md:flex-row justify-between w-full gap-8">
            <!-- Column 1 -->
            <div class="flex-1">
                <hr class="border-t border-black mb-4">
                <p class="text-sm capitalize text-black font-serif mb-2">Immobilier d'investissement</p>
                <p class="text-2xl">
                    Redéfinition des usages et valeur des biens immobiliers
                </p>
            </div>
            <!-- Column 2 -->
            <div class="flex-1">
                <hr class="border-t border-black mb-4">
                <p class="text-sm capitalize font-serif text-black mb-2">Luxe et Cosmétiques</p>
                <p class="text-2xl">
                    Gestion du cycle de vie complet des produits de Luxe
                </p>
            </div>
            <!-- Column 3 -->
            <div class="flex-1">
                <hr class="border-t border-black mb-4">
                <p class="text-sm capitalize font-serif text-black mb-2">Institutions financières</p>
                <p class="text-2xl">
                    Open banking et consolidation du secteur financier
                </p>
            </div>
        </div>

    </div>

</div>