<div class="flex flex-col space-y-12 py-6 md:py-0">

    <!-- TOP SECTION -->
    <div class="flex flex-col lg:flex-row items-start justify-start gap-6 md:gap-8">
        <!-- Left Text -->
        <div class="w-full xl:w-2/5">
            <h1 class="text-3xl md:text-4xl font-normal mb-4">
                Un Quatuor Complémentaire
            </h1>
        </div>

        <!-- Right Text -->
        <div class="w-full xl:w-3/5">
            <p class="text-base text-black leading-5 xl:w-[650px]">
                Un quatuor complémentaire couvrant tous les aspects financiers, stratégiques et tactiques liés à
                l'évaluation et à l'exécution des transactions financières, ainsi que la gestion et la planification
                financière et les conseils en investissement.
            </p>
        </div>
    </div>

    <!-- BOTTOM SECTION -->
    <div class="flex flex-col xl:flex-row gap-6 md:gap-8 mt-4">
        <!-- Left Text -->
        <div class="xl:w-2/5 flex items-start">
            <h2 class="text-[25px] lg:text-3xl font-medium leading-6 lg:leading-8 xl:w-[450px]">
                Une large gamme d'expertises et de services, adaptés aux besoins variés de nos clients.
            </h2>
        </div>

        <!-- Right Cards -->
        <div class="xl:w-3/5 grid grid-cols-1 xl:grid-cols-2 gap-4">

            <!-- CARD -->
            <div class="bg-[#EAEAE8] group p-6 flex flex-col lg:h-[450px] justify-between cursor-pointer"
                data-aos="fade-zoom-in" data-aos-delay="100" *ngFor="let card of cardDetails">
                <div>
                    <p class="text-md mb-2">{{card.services}}</p>
                    <h3 class="text-2xl md:text-3xl mb-2 group-hover:text-[#3e4d43] transition duration-300">
                        {{card.title}}
                    </h3>
                    <p class="text-md mt-4 mb-8 lg:mb-0 group-hover:text-[#3e4d43] transition duration-300 leading-5">
                        {{card.desc}}
                    </p>
                </div>

                <!-- Button -->
                <div class="group inline-block cursor-pointer">
                    <a class="inline-flex items-center relative transition duration-300 group-hover:text-[#3e4d43]">
                        <span class="font-semibold text-sm">LIRE LA SUITE</span>
                        <i
                            class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                        <span
                            class="absolute left-0 -bottom-0.5 h-[1px] w-full bg-black transition-all duration-300 group-hover:bg-[#3e4d43]"></span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>