<div class="flex flex-col space-y-12 py-10 px-4 md:px-6">

    <!-- TOP SECTION -->
    <div class="flex flex-col lg:flex-row items-start justify-start gap-6 md:gap-8">
        <!-- Left Text -->
        <div class="w-full lg:w-2/5">
            <h1 class="text-3xl md:text-4xl font-normal mb-4">
                Un Quatuor <br> Complémentaire
            </h1>
        </div>

        <!-- Right Text -->
        <div class="w-full md:w-3/5">
            <p class="text-base leading-5 md:w-[650px]">
                Un quatuor complémentaire couvrant tous les aspects financiers, stratégiques et tactiques liés à
                l'évaluation et à l'exécution des transactions financières, ainsi que la gestion et la planification
                financière et les conseils en investissement.
            </p>
        </div>
    </div>

    <!-- BOTTOM SECTION -->
    <div class="flex flex-col lg:flex-row gap-6 md:gap-8 mt-4">
        <!-- Left Text -->
        <div class="lg:w-2/5 flex items-start">
            <h2 class="text-xl md:text-2xl lg:text-3xl font-medium leading-8 md:w-[450px]">
                Une large gamme d'expertises et de services, adaptés aux besoins variés de nos clients.
            </h2>
        </div>

        <!-- Right Cards -->
        <div class="lg:w-3/5 grid grid-cols-1 sm:grid-cols-2 gap-6">

            <!-- Card 1 -->
            <div class="bg-[#EAEAE8] group p-6 flex flex-col justify-between min-h-[450px] cursor-pointer"
                data-aos="fade-zoom-in" data-aos-delay="0">
                <div>
                    <p class="text-xs md:text-sm mb-2">6 services</p>
                    <h3 class="text-lg md:text-3xl font-semibold mb-2 group-hover:text-[#3e4d43] transition duration-300">
                        Conseil en Fusion-acquisition
                    </h3>
                    <p class="text-md text-gray-700 mt-4 group-hover:text-[#3e4d43] transition duration-300">
                        Nos banquiers d'affaires fournissent des conseils et exécutent diverses transactions de
                        fusion-acquisition des deux côtés, ainsi que des missions stratégiques telles que des
                        coentreprises et des partenariats.
                    </p>
                </div>
                <a href="#"
                    class="inline-flex items-center text-sm text-black font-medium transition-all duration-300 relative pb-1 group">
                    <span>LIRE LA SUITE</span>
                    <i class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                    <span class="absolute bottom-0 left-0 w-24 h-px bg-black"></span>
                </a>
            </div>

            <!-- Card 2 -->
            <div class="bg-[#EAEAE8] group p-6 flex flex-col justify-between min-h-[450px] cursor-pointer"
                data-aos="fade-zoom-in" data-aos-delay="100">
                <div>
                    <p class="text-xs md:text-sm mb-2">3 services</p>
                    <h3 class="text-lg md:text-3xl font-semibold mb-2 group-hover:text-[#3e4d43] transition duration-300">
                        Conseil en Levée de Fonds
                    </h3>
                    <p class="text-md text-gray-700 mt-4 group-hover:text-[#3e4d43] transition duration-300">
                        Nous offrons un soutien complet pour les opérations de marché, la communication financière et
                        les relations investisseurs, qu'il s'agisse de conseil en financement, structuration des
                        opérations et gestion des relations investisseurs.
                    </p>
                </div>
                <a href="#"
                    class="inline-flex items-center text-sm text-black font-medium transition-all duration-300 relative pb-1 group">
                    <span>LIRE LA SUITE</span>
                    <i class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                    <span class="absolute bottom-0 left-0 w-24 h-px bg-black"></span>
                </a>
            </div>

            <!-- Card 3 -->
            <div class="bg-[#EAEAE8] group p-6 flex flex-col justify-between min-h-[450px] cursor-pointer"
                data-aos="fade-zoom-in" data-aos-delay="200">
                <div>
                    <p class="text-xs md:text-sm mb-2">4 services</p>
                    <h3 class="text-lg md:text-3xl font-semibold mb-2 group-hover:text-[#3e4d43] transition duration-300">
                        Conseil Stratégique
                    </h3>
                    <p class="text-md text-gray-700 mt-4 group-hover:text-[#3e4d43] transition duration-300">
                        Nous mettons nos expertises et connaissances au service des organisations privées ou publiques
                        pour les assister à définir et mettre en œuvre leurs stratégies d'orientation, choix
                        d'investissements et décisions stratégiques.
                    </p>
                </div>
                <a href="#"
                    class="inline-flex items-center text-sm text-black font-medium transition-all duration-300 relative pb-1 group">
                    <span>LIRE LA SUITE</span>
                    <i class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                    <span class="absolute bottom-0 left-0 w-24 h-px bg-black"></span>
                </a>
            </div>

            <!-- Card 4 -->
            <div class="bg-[#EAEAE8] group p-6 flex flex-col justify-between min-h-[450px] cursor-pointer"
                data-aos="fade-zoom-in" data-aos-delay="300">
                <div>
                    <p class="text-xs md:text-sm mb-2">5 services</p>
                    <h3 class="text-lg md:text-3xl font-semibold mb-2 group-hover:text-[#3e4d43] transition duration-300">
                        Restructuration Globale
                    </h3>
                    <p class="text-md text-gray-700 mt-4 group-hover:text-[#3e4d43] transition duration-300">
                        Nos experts en restructuration et en gestion financière se tiennent à vos côtés pour préserver
                        la valeur de votre entreprise, élaborer des stratégies de rebond et optimiser les résultats pour
                        vous, vos actionnaires et vos équipes.
                    </p>
                </div>
                <a href="#"
                    class="inline-flex items-center text-sm text-black font-medium transition-all duration-300 relative pb-1 group">
                    <span>LIRE LA SUITE</span>
                    <i class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                    <span class="absolute bottom-0 left-0 w-24 h-px bg-black"></span>
                </a>
            </div>

        </div>
    </div>
</div>
