  <!-- Hero Section -->
  <section
    class="min-h-[400px] w-full bg-[#003574] text-white relative flex flex-col lg:flex-row items-center justify-between px-4 md:px-6 pt-20 pb-10 md:pt-30">

    <!-- Left Content -->
    <div class="logoWrapper w-full lg:w-[65%] flex justify-center items-center md:justify-start relative z-40 lg:z-50">
      <div class="logoInner relative xl:ml-0 pointer-events-none">
        <img src="r-logo-Photoroom.png" alt="Hero Logo" class="heroLogo w-full" routerLink="/">
      </div>
    </div>

    <!-- Right Content -->
    <div
      class="hidden lg:block w-full lg:w-[35%] text-center md:text-left md:pl-12 md:border-l border-white/30 lg:mr-16">

      <ul
        class="space-y-1 text-base sm:text-md md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl mb-7 font-normal leading-4 xl:leading-6 2xl:leading-8 ">
        <li>Accounting</li>
        <li>Fractional CFO</li>
        <li>Tax</li>
      </ul>

      <p
        class="md:w-[98%] lg:w-[310px] xl:w-[98%] text-sm sm:text-base font-normal md:text-md lg:text-sm xl:text-xl xl:leading-4 2xl:leading-7">
        Accounting, Fractional CFO and Tax services that deliver clarity on your business performance, with the
        support of a trusted partner to guide you in the right direction.
      </p>

      <div class="hidden lg:flex justify-center md:justify-end -mt-10 -mr-18">
        <i class="ri-arrow-down-line text-4xl"></i>
      </div>
    </div>

    <!-- Mobile Text -->
    <div class="lg:hidden flex w-full text-start">
      <ul class="space-y-1 text-xl w-82 sm:w-60 md:w-45 font-normal leading-6">
        <li>Accounting</li>
        <li>Fractional CFO</li>
        <li>Tax</li>
      </ul>

      <!-- Vertical Line -->
      <div class="w-px bg-white/30 mx-4"></div>

      <p class="text-base w-full font-normal ">
        Accounting, Fractional CFO and Tax services that deliver clarity on your business performance, with the
        support of a trusted partner to guide you in the right direction.
      </p>
    </div>
  </section>