<div class="w-full flex justify-center py-10 px-4 md:px-12">

    <div class="relative w-full">

        <img src="flowerBanner.jpg" alt="Banner"
            class="w-full h-[200px] sm:h-[250px] md:h-[300px] object-cover object-center">

        <div
            class="absolute top-4 sm:top-6 md:top-8 left-1/2 md:left-1/3 -translate-x-1/2 text-center md:text-start w-11/12 sm:w-4/5 md:w-[60%]">

            <p class="text-sm sm:text-base md:text-lg lg:text-2xl font-semibold text-black mb-4 drop-shadow-md">
                Notre équipe vous accompagne dans vos affaires où que vous soyez, et quel que soit le lieu où vous vous
                trouvez vous-même, votre entreprise ou vos actifs.
            </p>

            <a href="#"
                class="inline-flex items-center text-black text-sm sm:text-base font-semibold underline underline-offset-4 hover:opacity-80 transition">
                NOS COORDONNÉES
                <i class="ri-corner-down-right-line ml-2"></i>
            </a>

        </div>

    </div>

</div>