<div class="w-full flex justify-center py-10 px-4 md:px-18">
    <div class="relative w-full group cursor-pointer">
        <img src="flowerBanner.jpg" alt="Banner"
            class="w-full h-[200px] sm:h-[250px] md:h-[400px] object-cover object-center">

        <div
            class="absolute top-1/2 -translate-y-1/2 left-1/2 md:left-[30%] -translate-x-1/2 text-center md:text-start w-11/12 sm:w-4/5 md:w-[45%]">

            <p class="text-sm sm:text-base md:text-lg lg:text-3xl text-black mb-8 drop-shadow-md leading-8">
                Notre équipe vous accompagne dans vos affaires où que vous soyez, et quel que soit le lieu où vous
                vous trouvez vous-même, votre entreprise ou vos actifs.
            </p>

            <!-- Button -->
            <div class="relative w-full mt-10">
                <div class="group inline-block cursor-pointer">
                    <a class="inline-flex items-center relative transition duration-300">
                        <span class="font-semibold text-sm uppercase tracking-tighter">Nos coordonnées</span>
                        <i
                            class="ri-corner-down-right-line ml-2 transition-transform duration-300 group-hover:translate-x-2"></i>
                        <span
                            class="absolute left-0 -bottom-0.5 h-[1px] w-full bg-black transition-all duration-300"></span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>